#calender-header-inner{
    margin: 0px 24px;
    width: 302px;
    justify-content: space-between;
    align-items: center;

}

.calender-chevron{
    cursor: pointer;
    user-select: none;
}

#calender-outer{
    position: absolute;
    width: 350px;
    margin-top: 35px;
    transform: translate(0px, 0%);
    opacity: 1;
    visibility: visible;
    transition: all 0.25s ease-out;
    z-index: 100;
}
#calender-outer.disable{
    transform: translate(0px, 0%) scale(0.95);
    opacity: 0;
    visibility: hidden;
}

#calender-outer #calender-header #calender-offset-day{
    margin: 8px 0px;
    text-align: center;
}

#calender-outer #calender-day-of-week-container{
    justify-content: space-around;
}

#calender-outer #calender-day-of-week-container .calender-day-of-week-outer{
    padding: 4px 0px;
}

#calender-outer #calender-date-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
}

#calender-outer #calender-date-container .calender-date-inner{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calender-outer #calender-date-container .calender-date-inner .calender-date-inner-select{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: background-color 0.15s ease-in-out;
}

#calender-outer #calender-date-container .calender-date-inner .calender-date-inner-select.this-month{
    cursor: pointer;
}

#calender-outer #calender-date-container .calender-date-inner .calender-date-inner-select.this-month:hover{
    background-color: #F0F0F0;
}

#calender-outer #calender-date-container .calender-date-inner .calender-date-inner-select.background-blue:hover{
    background-color: #2F5DFB;
}