*{
  margin: 0;
  padding: 0;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  -webkit-font-smoothing: antialiased;
}

html{
  background-color: #F0F0F0;
}

a{
  color:unset;
}

::-webkit-scrollbar {
  display: none;
}